# Public gate is mandatory for any non-loopback service.
MOONTOWN_DESKTOP_BIND=0.0.0.0:5007
MOONTOWN_PUBLIC_HOST=106.39.18.146:5007
MOONTOWN_IDENTITY_ENDPOINT=http://106.39.18.146:5003
MOONTOWN_IDENTITY_HOST=106.39.18.146:5003
MOONSUITE_ROOT=/home/HwHiAiUser/moonsuite
MOONTOWN_DESKTOP_STATIC_ROOT=/home/HwHiAiUser/moon-public/releases/moontown-current/ui
MOONTOWN_OPERATOR_POLICY_PATH=/home/HwHiAiUser/moon-public/releases/moontown-current/assets/templates/operator-request-policy.json
MOONTOWN_MOONCLAW_BIN=/home/HwHiAiUser/moon-public/runtimes/20260922-8be36b95/moonclaw/0.1.7/bin/moonclaw
MOONTOWN_MOONBOOK_BIN=/home/HwHiAiUser/moon-public/bin/moonbook
MOONBOOK_MODULE_ROOT=/home/HwHiAiUser/moon-public/current/moonbook
MOON_HOME=/home/HwHiAiUser/moon-public/toolchains/moon-linux-amd64
MOON_BIN=/home/HwHiAiUser/moon-public/toolchains/moon-linux-amd64/bin/moon
PATH=/home/HwHiAiUser/moon-public/bin:/home/HwHiAiUser/moon-public/toolchains/moon-linux-amd64/bin:/usr/local/bin:/usr/bin:/bin
